body {
    margin: 0;
    background-color: #ECFDF5;
    margin: 30px 60px;
}

.heading-green {
    color: #10B981
}

.subtitle {
    color: #6B7280;
    font-size: 18px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #10B981;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border-color: #10B981;
    justify-content: center;
}

.outputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#password1-el, #password2-el {
    font-size: 14px;
    color: #10B981;
    background-color: #273549;
    padding: 10px 50px;
    border-radius: 5px;
    width: 140px;
    height: 20px;
    text-align: center;
    
}